@charset "utf-8";
.contact-method {
  margin: 0 0 2em 0;
  padding-left: 3.25em;
  position: relative;
}
.contact-method .icon {
  top: 0;
  left: 0;
  position: absolute;
}
.contact-method h3 {
  margin: 0 0 0.5em 0;
}