@charset "utf-8";
form {
  margin: 0 0 2em 0;
}
form .field {
  margin: 0 0 2em 0;
}
form .field.half {
  width: 50%;
  float: left;
  padding: 0 0 0 1em;
}
form .field.half.first {
  padding: 0 1em 0 0;
}
form > .actions {
  margin: 2.5em 0 0 0 !important;
}
@media screen and (max-width: 736px) {
  form .field {
    margin: 0 0 1.5em 0;
  }
  form .field.half {
    padding: 0 0 0 0.75em;
  }
  form .field.half.first {
    padding: 0 0.75em 0 0;
  }
  form > .actions {
    margin: 2em 0 0 0 !important;
  }
}
@media screen and (max-width: 480px) {
  form .field.half {
    width: 100%;
    float: none;
    padding: 0;
  }
  form .field.half.first {
    padding: 0;
  }
}
label {
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: rgba(212, 212, 255, 0.035);
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="url"]:invalid,
input[type="email"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #9bf1ff;
  box-shadow: 0 0 0 2px #9bf1ff;
}

.select-wrapper {
  text-decoration: none; 
  display: block;
  position: relative;
}
.select-wrapper:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.select-wrapper:after { 
  color: rgba(212, 212, 255, 0.1); 
  content: '\f078';
  display: block;
  height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="tel"],
select {
  height: 2.75em;
}
textarea {
  padding: 0.75em 1em;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  padding-left: 2.65em;
  padding-right: 0.75em;
  position: relative; 
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none !important;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  background: rgba(212, 212, 255, 0.035);
  content: '';
  display: inline-block;
  width: 1.65em;
  height: 1.65em;
  left: 0;
  top: 0;
  letter-spacing: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}
input[type="checkout"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #ffffff;
  border-color: #9bf1ff;
  content: '\f00c';
  color: #242943;
}
input[type="checkout"]:focus + label:before,
input[type="radio"]:focus + label:before {
  box-shadow: 0 0 0 2px #9bf1ff;
}
input[type="radio"] + label:after {
  border-radius: 100%;
}
::-webkit-input-placeholder {
  color: rgba(244, 244, 255, 0.2) !important;
  opacity: 1.0;
}
:-moz-placeholder {
  color: rgba(244, 244, 255, 0.2) !important;
  opacity: 1.0;
}
::-moz-placeholder {
  color: rgba(244, 244, 255, 0.2) !important;
  opacity: 1.0;
}
:-ms-input-placeholder {
  color: rgba(244, 244, 255, 0.2) !important;
  opacity: 1.0;
}
.formerize-placeholder {
  color: rgba(244, 244, 255, 0.2) !important;
  opacity: 1.0;
}