@charset "utf-8";

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;  
}
.icon > .label {
  display: none;
}
.icon.alt:before {
  background-color: #ffffff;
  border-radius: 100%;
  color: #249443;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
}
a.icon.alt:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
a.icon.alt:hover:before {
  background-color: #6fc3df;
}
a.icon.alt:active:before {
  background-color: #37a6cb;
}