@charset "utf-8";

.image {
  border: 0;
  display: inline-block;
  position: relative;
}
.image img{
  display: block;
}
.image.left, .image.right {
  max-width: 30%;
}
.image.left img, .image.right img {
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 1.5em 1.25em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 1.25em 1.5em;
}
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}
.image.main {
  display: block;
  margin: 2.5em 0;
  width: 100%;
}
.image.main img {
  width: 100%;
}
@media screen and (max-width: 736px) {
  .image.main {
    margin: 1.5em 0;
  }
}