@charset "utf-8";

#wrapper {
  -moz-transition: -moz-filter 0.35s ease, opacity 0.375s ease-out;
  -webkit-transition: -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  -ms-transition: -ms-filter 0.35s ease, opacity 0.375s ease-out;
  transition: filter 0.35s ease, opacity 0.375s ease-out;
  padding-top: 3.25em;  
}
#wrapper.is-transitioning {
  opacity: 0;
}
#wrapper > * > .inner {
  padding: 4em 0 2em 0;
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}
@media screen and (max-width: 980px) {
  #wrapper > * > .inner {
    padding: 3em 0 1em 0;
  }
}
@media screen and (max-width: 736px) {
  #wrapper {
    padding-top: 2.75em;
  }
}